header{
    display: flex;
    justify-content: space-between;
    padding: 25px 0 35px 0;
    background-color: rgb(65, 93, 163);
    padding: 10px 0 5px;
    margin: auto;
    display: flex;
    color: white;
    height: 80px;
}

.TittleP{
    text-align: center;
    width: 1900px;
    font-size: 45px;
}

.login-icon{
    position: absolute;
    top: 5px;
    left: 0px;
    transform: translate(1, 1);
}

.login-icon img{
    width: 85px;
    height: auto;
}

